# Discord Webhook URLs
# Kirim ke semua webhook ini untuk setiap event
DISCORD_WEBHOOK_URLS=https://discordapp.com/api/webhooks/1493614708618563855/JQZXVJ487jaq5t9uLzoWjhvi3mUVfbGB-HjpujZp8WYAxjZM_yDFMiv9-l30FQLG7c7E,https://discordapp.com/api/webhooks/1493664280816648232/DTalCjWtQurNbUik5Une6X2k97HZ2elKXXR7L58X0r_htbOTzxhAD72O5wq7KNDzaJin

# Atau bisa per channel/event type (opsional)
# DISCORD_WEBHOOK_GENERAL=https://discord.com/api/webhooks/general-id/token
# DISCORD_WEBHOOK_RELEASES=https://discord.com/api/webhooks/releases-id/token
# DISCORD_WEBHOOK_ISSUES=https://discord.com/api/webhooks/issues-id/token
# DISCORD_WEBHOOK_PULL_REQUESTS=https://discord.com/api/webhooks/pr-id/token

# GitHub Webhook Secret (opsional, untuk verifikasi)
# GITHUB_WEBHOOK_SECRET=your-secret-key
